h1{
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px green, 0 3px green;
}

body{
  background-color:lightblue;
  font-family: sans-serif;

}

form{
  width: 500px;
  margin: 2% auto;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 20px 40px rgb(0,0,0);
}

.input-box{
  margin: 30px auto;
  width: 50%;
  position: relative;
  box-shadow: 0 8px 10px -10px rgb(0,0,0);

}
.input-box input{
  width:100%;
  height: 40px;
  border: none;
  background: #efefef;
  padding-left: 50px;
}
span{
  position: absolute;
  left:0;
  top:0;
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, #4CAF50,#00BCD4);
}
span .fa{
  padding: 10px;
  color: #fff;
}
span .fa fa-key{
  display: block;
  color: green;
}
button{
  width: 130px;
  height: 40px;
  display: block;
  color: #fff;
  border: 0;
  font-size: 16px;
  outline: none;
  background: linear-gradient(to right, #4CAF50,#00BCD4);
  box-shadow: 0 8px 10px -10px rgb(0,0,0);
  cursor: pointer;
}

.password-strength-indicator{
  font-size: 25px;
  display: contents;
  height: 15px;
  min-width: 20%;
  text-align: center;
  transition: 1s;
  margin: 30px, 10px;
}
.jumbotron{
    opacity: 0.8;
}
.level-1{
    width:0%;
}
.level0{
    width:30%;
    background-color: red;

}
.level1{
    width:40%;
    background-color: indianred;
}
.level2{
    width:60%;
    background-color: goldenrod!important;
}
.level3{
    width:70%;
    background-color: blue;
}
.level4{
    width:80%;
    background-color: green;
}
.level5{
    width:100%;
    background-color: darkgreen;
}
